<div class="container">
    <h4>Create a new enterprise</h4>
    <form action="/action_page.php">
        <div class="form-group">
            <label for="partner-name">Partner name:</label>
            <input type="text" class="form-control" id="partner-name">
        </div>
        <div class="form-group">
            <label for="enterprise-name">Enterprise name:</label>
            <input type="text" class="form-control" id="enterprise-name">
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</div>
